<footer id="footer" class="footer" role="contentinfo">
  <div class="footer-logo">
    <%= image_tag 'logo-minimal.svg', alt: 'Logo' %>
  </div>
  <div class="social-links">
    <% link_to 'https://twitter.com/tracersoft', target: '_blank' do %>
      <%= image_tag 'icon-twitter.svg', alt: 'Twitter' %>
    <% end %>
    <% link_to 'http://github.com/tracersoft', target: '_blank' do %>
      <%= image_tag 'icon-github.svg', alt: 'Github' %>
    <% end %>
  </div>
  <hr>
  <p><a href="http://tracersoft.com.br">Tracersoft <%= Time.now.year %></a> </p>
</footer>
